body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
}


h1 {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}


p {
    font-size: 1.1em;
    line-height: 1.6;
    color: crimson;
    margin-bottom: 15px;
}


ol {
    margin-bottom: 20px;
}


a {
    color: midnightblue;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
